html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
}

body {
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
}

.app-container .social__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 2rem 1rem 2rem;
  justify-content: center;
  align-items: center;
}
.app-container .social__header h1 {
  font-size: xx-large;
  margin-bottom: 2rem;
  color: hsl(300, 43%, 22%);
  font-weight: bolder;
}
.app-container .social__header p {
  color: hsl(300, 43%, 22%);
}
.app-container .social__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.app-container .social__reviews .social__review--first,
.app-container .social__reviews .social__review--second,
.app-container .social__reviews .social__review--third {
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  margin: 0.5rem;
}
.app-container .social__reviews .reviews__subtitle,
.app-container .social__reviews .reviews__stars {
  padding: 0.5rem;
}
.app-container .user-comments {
  margin-top: 2rem;
}
.app-container .user-comments .user-comments__profile {
  background-color: hsl(300, 43%, 22%);
  height: 14rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}
.app-container .user-comments .profile__colton,
.app-container .user-comments .profile__irene,
.app-container .user-comments .profile__anne {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.app-container .user-comments .profile__colton img,
.app-container .user-comments .profile__irene img,
.app-container .user-comments .profile__anne img {
  border-radius: 50%;
  transform: scale(0.8);
}
.app-container .user-comments .profile__colton--data,
.app-container .user-comments .profile__irene--data,
.app-container .user-comments .profile__anne--data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  line-height: 1.5rem;
}
.app-container .user-comments .profile__colton--data h3,
.app-container .user-comments .profile__irene--data h3,
.app-container .user-comments .profile__anne--data h3 {
  color: hsl(333, 80%, 67%);
}

/*# sourceMappingURL=style.css.map */
